In [4]:
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 10
matplotlib.rcParams['axes.unicode_minus']=False

df = pd.read_csv('../z20_data/drinks.csv')
df
df.fillna('AA',inplace=True)
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [13]:
# 대륙별 개수를 출력하시오.
labels = df['continent'].value_counts().index
values = df['continent'].value_counts().values
labels
values

array([53, 45, 44, 23, 16, 12], dtype=int64)

In [5]:
wedgeprops={'width':0.6, 'edgecolor':'w','linewidth':2}
plt.pie(values,labels=labels,autopct='%.3f%%',wedgeprops=wedgeprops)
plt.title('대륙별 국가 분포도')
explode = [0.1,0,0,0,0,0]
plt.legend(loc=(1.2,0.1),title='<continent>')
plt.show()

NameError: name 'plt' is not defined