In [133]:
import pandas as pd

df = pd.read_excel('../z20_data/20230103_인구.xlsx',skiprows=3,usecols='B,E:Y',index_col='행정기관')
df

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,052,227","2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"338,380","343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276
부산광역시,"41,333","63,912","68,919","67,836","93,245","109,745","103,536","99,530","127,544","121,660",...,"126,702","143,246","119,500","83,807","55,948","36,851","13,453","3,103",420,72
대구광역시,"31,269","49,000","55,029","57,661","74,228","81,001","76,198","71,455","87,860","91,327",...,"96,673","96,632","71,324","49,675","31,508","23,021","9,435","2,197",299,25
인천광역시,"43,664","63,028","70,593","69,580","86,548","108,831","107,658","102,829","126,090","121,064",...,"121,717","124,470","84,563","52,236","35,223","22,843","9,444","2,410",482,82
광주광역시,"21,506","32,852","38,227","39,769","49,779","53,357","45,743","45,152","57,116","58,456",...,"54,650","50,054","34,957","25,074","17,659","12,507","4,907","1,221",180,18
대전광역시,"21,241","31,032","35,302","37,083","48,557","57,944","51,617","47,195","55,541","57,113",...,"54,364","55,215","40,788","26,427","17,354","12,297","5,151","1,344",205,28
울산광역시,"16,646","26,693","29,418","28,366","33,283","39,507","37,536","37,213","47,828","45,102",...,"51,149","49,294","33,444","20,751","11,651","7,068","2,406",566,72,4
세종특별자치시,"9,524","13,733","14,079","10,808","9,307","10,329","13,538","16,303","20,299","18,098",...,"11,134","10,497","7,464","4,657","2,763","2,000",913,230,40,6
경기도,"216,863","313,113","345,546","335,021","411,620","501,356","491,074","485,448","590,936","571,769",...,"537,189","521,204","356,812","219,043","153,879","106,802","45,597","11,973","2,020",379
강원도,"20,663","28,244","33,186","35,219","46,654","48,339","43,021","41,832","52,647","57,135",...,"65,868","74,871","59,684","35,256","28,108","20,902","8,649","2,159",472,67
충청북도,"22,631","32,948","37,693","37,809","47,397","57,064","51,561","49,894","60,047","61,976",...,"67,045","72,702","54,810","34,167","23,398","17,998","8,095","1,908",328,50
충청남도,"31,138","46,381","53,256","51,596","60,532","67,469","66,486","70,151","87,472","86,432",...,"85,589","91,701","67,960","48,258","33,015","25,781","13,262","3,553",568,58
전라북도,"21,236","34,769","42,410","44,115","54,218","53,042","44,965","46,154","61,000","68,586",...,"74,309","77,740","60,703","44,697","31,975","24,526","11,227","2,972",464,62
전라남도,"23,539","34,785","41,325","41,816","51,858","51,905","43,572","46,628","62,839","68,646",...,"83,843","86,322","64,278","50,227","35,492","28,495","11,601","3,186",485,60
경상북도,"33,538","50,669","57,538","58,036","72,082","75,729","70,663","73,213","93,825","97,876",...,"115,155","125,814","98,898","70,342","44,053","34,935","15,550","3,924",597,56
경상남도,"44,066","73,112","84,029","81,884","93,886","96,408","91,363","98,508","132,630","133,558",...,"139,975","148,200","109,447","73,308","45,837","31,710","13,579","3,300",475,53
제주특별자치도,"10,989","16,953","18,838","17,925","19,947","21,166","19,331","20,608","27,661","28,797",...,"28,485","25,858","18,587","12,291","9,298","6,331","2,946",723,70,11

In [130]:
df.shape
df.iloc[2]

0~4세        41,333
5~9세        63,912
10~14세      68,919
15~19세      67,836
20~24세      93,245
25~29세     109,745
30~34세     103,536
35~39세      99,530
40~44세     127,544
45~49세     121,660
50~54세     138,387
55~59세     126,702
60~64세     143,246
65~69세     119,500
70~74세      83,807
75~79세      55,948
80~84세      36,851
85~89세      13,453
90~94세       3,103
95~99세         420
100세 이상         72
Name: 부산광역시  , dtype: object

In [140]:
df.iloc[0] = df.iloc[0].str.replace(',','').astype(int)
df.iloc[0].sum()
df.iloc[0].mean()
df.loc['전국  ','합계'] = df.iloc[0].sum()
df.loc['전국  ','평균'] = df.iloc[0].mean()

2330139.8181818184

In [138]:
df.iloc[1]
df.iloc[1] = df.iloc[1].str.replace(',','').astype(int)
df.iloc[1].sum()
df.iloc[1].mean()

415249.0

In [141]:
df[['합계','평균']] = 0
df.loc['전국  ','합계'] = df.iloc[0].sum()
df.loc['전국  ','평균'] = df.iloc[0].mean()
df.loc['서울특별시  ','합계'] = df.iloc[1].sum()
df.loc['서울특별시  ','평균'] = df.iloc[1].mean()
df

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_7812\3520572568.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2228829.3913043477' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc['전국  ','평균'] = df.iloc[0].mean()

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,합계,평균
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,1554976,1038388,713448,507915,212726,54180,8880,1307,25631538,2.228829e+06
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,271757,188172,136287,93848,36511,9411,1703,276,4567739,3.971947e+05
부산광역시,"41,333","63,912","68,919","67,836","93,245","109,745","103,536","99,530","127,544","121,660",...,"119,500","83,807","55,948","36,851","13,453","3,103",420,72,0,0.000000e+00
대구광역시,"31,269","49,000","55,029","57,661","74,228","81,001","76,198","71,455","87,860","91,327",...,"71,324","49,675","31,508","23,021","9,435","2,197",299,25,0,0.000000e+00
인천광역시,"43,664","63,028","70,593","69,580","86,548","108,831","107,658","102,829","126,090","121,064",...,"84,563","52,236","35,223","22,843","9,444","2,410",482,82,0,0.000000e+00
광주광역시,"21,506","32,852","38,227","39,769","49,779","53,357","45,743","45,152","57,116","58,456",...,"34,957","25,074","17,659","12,507","4,907","1,221",180,18,0,0.000000e+00
대전광역시,"21,241","31,032","35,302","37,083","48,557","57,944","51,617","47,195","55,541","57,113",...,"40,788","26,427","17,354","12,297","5,151","1,344",205,28,0,0.000000e+00
울산광역시,"16,646","26,693","29,418","28,366","33,283","39,507","37,536","37,213","47,828","45,102",...,"33,444","20,751","11,651","7,068","2,406",566,72,4,0,0.000000e+00
세종특별자치시,"9,524","13,733","14,079","10,808","9,307","10,329","13,538","16,303","20,299","18,098",...,"7,464","4,657","2,763","2,000",913,230,40,6,0,0.000000e+00
경기도,"216,863","313,113","345,546","335,021","411,620","501,356","491,074","485,448","590,936","571,769",...,"356,812","219,043","153,879","106,802","45,597","11,973","2,020",379,0,0.000000e+00
강원도,"20,663","28,244","33,186","35,219","46,654","48,339","43,021","41,832","52,647","57,135",...,"59,684","35,256","28,108","20,902","8,649","2,159",472,67,0,0.000000e+00
충청북도,"22,631","32,948","37,693","37,809","47,397","57,064","51,561","49,894","60,047","61,976",...,"54,810","34,167","23,398","17,998","8,095","1,908",328,50,0,0.000000e+00
충청남도,"31,138","46,381","53,256","51,596","60,532","67,469","66,486","70,151","87,472","86,432",...,"67,960","48,258","33,015","25,781","13,262","3,553",568,58,0,0.000000e+00
전라북도,"21,236","34,769","42,410","44,115","54,218","53,042","44,965","46,154","61,000","68,586",...,"60,703","44,697","31,975","24,526","11,227","2,972",464,62,0,0.000000e+00
전라남도,"23,539","34,785","41,325","41,816","51,858","51,905","43,572","46,628","62,839","68,646",...,"64,278","50,227","35,492","28,495","11,601","3,186",485,60,0,0.000000e+00
경상북도,"33,538","50,669","57,538","58,036","72,082","75,729","70,663","73,213","93,825","97,876",...,"98,898","70,342","44,053","34,935","15,550","3,924",597,56,0,0.000000e+00
경상남도,"44,066","73,112","84,029","81,884","93,886","96,408","91,363","98,508","132,630","133,558",...,"109,447","73,308","45,837","31,710","13,579","3,300",475,53,0,0.000000e+00
제주특별자치도,"10,989","16,953","18,838","17,925","19,947","21,166","19,331","20,608","27,661","28,797",...,"18,587","12,291","9,298","6,331","2,946",723,70,11,0,0.000000e+00

In [143]:
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,합계,평균
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,1554976,1038388,713448,507915,212726,54180,8880,1307,25631538,2.228829e+06
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,271757,188172,136287,93848,36511,9411,1703,276,4567739,3.971947e+05
부산광역시,"41,333","63,912","68,919","67,836","93,245","109,745","103,536","99,530","127,544","121,660",...,"119,500","83,807","55,948","36,851","13,453","3,103",420,72,0,0.000000e+00
대구광역시,"31,269","49,000","55,029","57,661","74,228","81,001","76,198","71,455","87,860","91,327",...,"71,324","49,675","31,508","23,021","9,435","2,197",299,25,0,0.000000e+00
인천광역시,"43,664","63,028","70,593","69,580","86,548","108,831","107,658","102,829","126,090","121,064",...,"84,563","52,236","35,223","22,843","9,444","2,410",482,82,0,0.000000e+00
광주광역시,"21,506","32,852","38,227","39,769","49,779","53,357","45,743","45,152","57,116","58,456",...,"34,957","25,074","17,659","12,507","4,907","1,221",180,18,0,0.000000e+00
대전광역시,"21,241","31,032","35,302","37,083","48,557","57,944","51,617","47,195","55,541","57,113",...,"40,788","26,427","17,354","12,297","5,151","1,344",205,28,0,0.000000e+00
울산광역시,"16,646","26,693","29,418","28,366","33,283","39,507","37,536","37,213","47,828","45,102",...,"33,444","20,751","11,651","7,068","2,406",566,72,4,0,0.000000e+00
세종특별자치시,"9,524","13,733","14,079","10,808","9,307","10,329","13,538","16,303","20,299","18,098",...,"7,464","4,657","2,763","2,000",913,230,40,6,0,0.000000e+00
경기도,"216,863","313,113","345,546","335,021","411,620","501,356","491,074","485,448","590,936","571,769",...,"356,812","219,043","153,879","106,802","45,597","11,973","2,020",379,0,0.000000e+00
강원도,"20,663","28,244","33,186","35,219","46,654","48,339","43,021","41,832","52,647","57,135",...,"59,684","35,256","28,108","20,902","8,649","2,159",472,67,0,0.000000e+00
충청북도,"22,631","32,948","37,693","37,809","47,397","57,064","51,561","49,894","60,047","61,976",...,"54,810","34,167","23,398","17,998","8,095","1,908",328,50,0,0.000000e+00
충청남도,"31,138","46,381","53,256","51,596","60,532","67,469","66,486","70,151","87,472","86,432",...,"67,960","48,258","33,015","25,781","13,262","3,553",568,58,0,0.000000e+00
전라북도,"21,236","34,769","42,410","44,115","54,218","53,042","44,965","46,154","61,000","68,586",...,"60,703","44,697","31,975","24,526","11,227","2,972",464,62,0,0.000000e+00
전라남도,"23,539","34,785","41,325","41,816","51,858","51,905","43,572","46,628","62,839","68,646",...,"64,278","50,227","35,492","28,495","11,601","3,186",485,60,0,0.000000e+00
경상북도,"33,538","50,669","57,538","58,036","72,082","75,729","70,663","73,213","93,825","97,876",...,"98,898","70,342","44,053","34,935","15,550","3,924",597,56,0,0.000000e+00
경상남도,"44,066","73,112","84,029","81,884","93,886","96,408","91,363","98,508","132,630","133,558",...,"109,447","73,308","45,837","31,710","13,579","3,300",475,53,0,0.000000e+00
제주특별자치도,"10,989","16,953","18,838","17,925","19,947","21,166","19,331","20,608","27,661","28,797",...,"18,587","12,291","9,298","6,331","2,946",723,70,11,0,0.000000e+00

In [145]:
df[df.columns[-1]]

행정기관
전국           2.228829e+06
서울특별시        3.971947e+05
부산광역시        0.000000e+00
대구광역시        0.000000e+00
인천광역시        0.000000e+00
광주광역시        0.000000e+00
대전광역시        0.000000e+00
울산광역시        0.000000e+00
세종특별자치시      0.000000e+00
경기도          0.000000e+00
강원도          0.000000e+00
충청북도         0.000000e+00
충청남도         0.000000e+00
전라북도         0.000000e+00
전라남도         0.000000e+00
경상북도         0.000000e+00
경상남도         0.000000e+00
제주특별자치도      0.000000e+00
Name: 평균, dtype: float64

In [146]:
o

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_7812\4129307895.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '53491905.391304344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[[i],[-2]]=df.iloc[i].sum()

TypeError: can only concatenate str (not "numpy.float64") to str