In [2]:
# employees 정보를 가져와서 /  평균 연봉보다 높은 사원을 출력하시오.
import pandas as pd
import oracledb

conn = oracledb.connect(user='ora_user1',password='1111',dsn='localhost:1521/xe')

In [3]:
sql = 'select * from employees'
df = pd.read_sql_query(sql,conn)
df

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_26504\511640962.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql,conn)

,EMPLOYEE_ID,EMP_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,SALARY,MANAGER_ID,COMMISSION_PCT,RETIRE_DATE,DEPARTMENT_ID,JOB_ID,CREATE_DATE,UPDATE_DATE
0,198,Donald OConnell,DOCONNEL,650.507.9833,2007-06-21,2600.0,124.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45
1,199,Douglas Grant,DGRANT,650.507.9844,2008-01-13,2600.0,124.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45
2,200,Jennifer Whalen,JWHALEN,515.123.4444,2003-09-17,4400.0,101.0,NaN,None,10.0,AD_ASST,2014-01-08 13:44:45,2014-01-08 13:44:45
3,201,Michael Hartstein,MHARTSTE,515.123.5555,2004-02-17,13000.0,100.0,NaN,None,20.0,MK_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
4,202,Pat Fay,PFAY,603.123.6666,2005-08-17,6000.0,201.0,NaN,None,20.0,MK_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,193,Britney Everett,BEVERETT,650.501.2876,2005-03-03,3900.0,123.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45
103,194,Samuel McCain,SMCCAIN,650.501.3876,2006-07-01,3200.0,123.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45
104,195,Vance Jones,VJONES,650.501.4876,2007-03-17,2800.0,123.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45
105,196,Alana Walsh,AWALSH,650.507.9811,2006-04-24,3100.0,124.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45
106,197,Kevin Feeney,KFEENEY,650.507.9822,2006-05-23,3000.0,124.0,NaN,None,50.0,SH_CLERK,2014-01-08 13:44:45,2014-01-08 13:44:45

In [11]:
sql = 'select * from employees where salary>=(select avg(salary) from employees)'
df = pd.read_sql_query(sql,conn)
df

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_26504\3703514386.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql,conn)

,EMPLOYEE_ID,EMP_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,SALARY,MANAGER_ID,COMMISSION_PCT,RETIRE_DATE,DEPARTMENT_ID,JOB_ID,CREATE_DATE,UPDATE_DATE
0,201,Michael Hartstein,MHARTSTE,515.123.5555,2004-02-17,13000.0,100.0,NaN,None,20.0,MK_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
1,203,Susan Mavris,SMAVRIS,515.123.7777,2002-06-07,6500.0,101.0,NaN,None,40.0,HR_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
2,204,Hermann Baer,HBAER,515.123.8888,2002-06-07,10000.0,101.0,NaN,None,70.0,PR_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
3,205,Shelley Higgins,SHIGGINS,515.123.8080,2002-06-07,12008.0,101.0,NaN,None,110.0,AC_MGR,2014-01-08 13:44:45,2014-01-08 13:44:45
4,206,William Gietz,WGIETZ,515.123.8181,2002-06-07,8300.0,205.0,NaN,None,110.0,AC_ACCOUNT,2014-01-08 13:44:45,2014-01-08 13:44:45
5,100,Steven King,SKING,515.123.4567,2003-06-17,24000.0,NaN,NaN,None,90.0,AD_PRES,2014-01-08 13:44:45,2014-01-08 13:44:45
6,101,Neena Kochhar,NKOCHHAR,515.123.4568,2005-09-21,17000.0,100.0,NaN,None,90.0,AD_VP,2014-01-08 13:44:45,2014-01-08 13:44:45
7,102,Lex De Haan,LDEHAAN,515.123.4569,2001-01-13,17000.0,100.0,NaN,None,90.0,AD_VP,2014-01-08 13:44:45,2014-01-08 13:44:45
8,103,Alexander Hunold,AHUNOLD,590.423.4567,2006-01-03,9000.0,102.0,NaN,None,60.0,IT_PROG,2014-01-08 13:44:45,2014-01-08 13:44:45
9,108,Nancy Greenberg,NGREENBE,515.124.4569,2002-08-17,12008.0,101.0,NaN,None,100.0,FI_MGR,2014-01-08 13:44:45,2014-01-08 13:44:45
10,109,Daniel Faviet,DFAVIET,515.124.4169,2002-08-16,9000.0,108.0,NaN,None,100.0,FI_ACCOUNT,2014-01-08 13:44:45,2014-01-08 13:44:45
11,110,John Chen,JCHEN,515.124.4269,2005-09-28,8200.0,108.0,NaN,None,100.0,FI_ACCOUNT,2014-01-08 13:44:45,2014-01-08 13:44:45
12,111,Ismael Sciarra,ISCIARRA,515.124.4369,2005-09-30,7700.0,108.0,NaN,None,100.0,FI_ACCOUNT,2014-01-08 13:44:45,2014-01-08 13:44:45
13,112,Jose Manuel Urman,JMURMAN,515.124.4469,2006-03-07,7800.0,108.0,NaN,None,100.0,FI_ACCOUNT,2014-01-08 13:44:45,2014-01-08 13:44:45
14,113,Luis Popp,LPOPP,515.124.4567,2007-12-07,6900.0,108.0,NaN,None,100.0,FI_ACCOUNT,2014-01-08 13:44:45,2014-01-08 13:44:45
15,114,Den Raphaely,DRAPHEAL,515.127.4561,2002-12-07,11000.0,100.0,NaN,None,30.0,PU_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
16,120,Matthew Weiss,MWEISS,650.123.1234,2004-07-18,8000.0,100.0,NaN,None,50.0,ST_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
17,121,Adam Fripp,AFRIPP,650.123.2234,2005-04-10,8200.0,100.0,NaN,None,50.0,ST_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
18,122,Payam Kaufling,PKAUFLIN,650.123.3234,2003-05-01,7900.0,100.0,NaN,None,50.0,ST_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
19,123,Shanta Vollman,SVOLLMAN,650.123.4234,2005-10-10,6500.0,100.0,NaN,None,50.0,ST_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
20,145,John Russell,JRUSSEL,011.44.1344.429268,1998-10-01,14000.0,100.0,0.40,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
21,146,Karen Partners,KPARTNER,011.44.1344.467268,1999-01-05,13500.0,100.0,0.30,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
22,147,Alberto Errazuriz,AERRAZUR,011.44.1344.429278,1999-03-10,12000.0,100.0,0.30,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
23,148,Gerald Cambrault,GCAMBRAU,011.44.1344.619268,2000-10-15,11000.0,100.0,0.30,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
24,149,Eleni Zlotkey,EZLOTKEY,011.44.1344.429018,2001-01-29,10500.0,100.0,0.20,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
25,150,Peter Tucker,PTUCKER,011.44.1344.129268,1999-01-30,10000.0,145.0,0.30,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
26,151,David Bernstein,DBERNSTE,011.44.1344.345268,1999-10-24,9500.0,145.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
27,152,Peter Hall,PHALL,011.44.1344.478968,1999-08-20,9000.0,145.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
28,153,Christopher Olsen,COLSEN,011.44.1344.498718,2000-08-30,8000.0,145.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
29,154,Nanette Cambrault,NCAMBRAU,011.44.1344.987668,2000-12-09,7500.0,145.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
30,155,Oliver Tuvault,OTUVAULT,011.44.1344.486508,2000-11-23,7000.0,145.0,0.15,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
31,156,Janette King,JKING,011.44.1345.429268,1998-01-30,10000.0,146.0,0.35,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
32,157,Patrick Sully,PSULLY,011.44.1345.929268,1998-03-04,9500.0,146.0,0.35,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
33,158,Allan McEwen,AMCEWEN,011.44.1345.829268,1998-08-01,9000.0,146.0,0.35,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
34,159,Lindsey Smith,LSMITH,011.44.1345.729268,1999-05-11,8000.0,146.0,0.30,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
35,160,Louise Doran,LDORAN,011.44.1345.629268,1999-12-15,7500.0,146.0,0.30,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
36,161,Sarath Sewall,SSEWALL,011.44.1345.529268,2000-11-03,7000.0,146.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
37,162,Clara Vishney,CVISHNEY,011.44.1346.129268,1999-11-11,10500.0,147.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
38,163,Danielle Greene,DGREENE,011.44.1346.229268,2000-03-19,9500.0,147.0,0.15,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
39,164,Mattea Marvins,MMARVINS,011.44.1346.329268,2001-05-24,7200.0,147.0,0.10,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
40,165,David Lee,DLEE,011.44.1346.529268,2001-02-23,6800.0,147.0,0.10,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
41,168,Lisa Ozer,LOZER,011.44.1343.929268,1999-07-11,11500.0,148.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
42,169,Harrison Bloom,HBLOOM,011.44.1343.829268,2000-07-23,10000.0,148.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
43,170,Tayler Fox,TFOX,011.44.1343.729268,2000-01-24,9600.0,148.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
44,171,William Smith,WSMITH,011.44.1343.629268,2000-02-23,7400.0,148.0,0.15,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
45,172,Elizabeth Bates,EBATES,011.44.1343.529268,2000-06-24,7300.0,148.0,0.15,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
46,174,Ellen Abel,EABEL,011.44.1644.429267,1998-05-11,11000.0,149.0,0.30,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
47,175,Alyssa Hutton,AHUTTON,011.44.1644.429266,1999-09-19,8800.0,149.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
48,176,Jonathon Taylor,JTAYLOR,011.44.1644.429265,2000-05-24,8600.0,149.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
49,177,Jack Livingston,JLIVINGS,011.44.1644.429264,2000-04-23,8400.0,149.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
50,178,Kimberely Grant,KGRANT,011.44.1644.429263,2007-05-24,7000.0,149.0,0.15,None,NaN,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45

In [14]:
df[df['SALARY']>=df['SALARY'].mean()]
# df['SALARY'].mean()

,EMPLOYEE_ID,EMP_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,SALARY,MANAGER_ID,COMMISSION_PCT,RETIRE_DATE,DEPARTMENT_ID,JOB_ID,CREATE_DATE,UPDATE_DATE
0,201,Michael Hartstein,MHARTSTE,515.123.5555,2004-02-17,13000.0,100.0,NaN,None,20.0,MK_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
2,204,Hermann Baer,HBAER,515.123.8888,2002-06-07,10000.0,101.0,NaN,None,70.0,PR_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
3,205,Shelley Higgins,SHIGGINS,515.123.8080,2002-06-07,12008.0,101.0,NaN,None,110.0,AC_MGR,2014-01-08 13:44:45,2014-01-08 13:44:45
5,100,Steven King,SKING,515.123.4567,2003-06-17,24000.0,NaN,NaN,None,90.0,AD_PRES,2014-01-08 13:44:45,2014-01-08 13:44:45
6,101,Neena Kochhar,NKOCHHAR,515.123.4568,2005-09-21,17000.0,100.0,NaN,None,90.0,AD_VP,2014-01-08 13:44:45,2014-01-08 13:44:45
7,102,Lex De Haan,LDEHAAN,515.123.4569,2001-01-13,17000.0,100.0,NaN,None,90.0,AD_VP,2014-01-08 13:44:45,2014-01-08 13:44:45
9,108,Nancy Greenberg,NGREENBE,515.124.4569,2002-08-17,12008.0,101.0,NaN,None,100.0,FI_MGR,2014-01-08 13:44:45,2014-01-08 13:44:45
15,114,Den Raphaely,DRAPHEAL,515.127.4561,2002-12-07,11000.0,100.0,NaN,None,30.0,PU_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
20,145,John Russell,JRUSSEL,011.44.1344.429268,1998-10-01,14000.0,100.0,0.40,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
21,146,Karen Partners,KPARTNER,011.44.1344.467268,1999-01-05,13500.0,100.0,0.30,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
22,147,Alberto Errazuriz,AERRAZUR,011.44.1344.429278,1999-03-10,12000.0,100.0,0.30,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
23,148,Gerald Cambrault,GCAMBRAU,011.44.1344.619268,2000-10-15,11000.0,100.0,0.30,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
24,149,Eleni Zlotkey,EZLOTKEY,011.44.1344.429018,2001-01-29,10500.0,100.0,0.20,None,80.0,SA_MAN,2014-01-08 13:44:45,2014-01-08 13:44:45
25,150,Peter Tucker,PTUCKER,011.44.1344.129268,1999-01-30,10000.0,145.0,0.30,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
31,156,Janette King,JKING,011.44.1345.429268,1998-01-30,10000.0,146.0,0.35,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
37,162,Clara Vishney,CVISHNEY,011.44.1346.129268,1999-11-11,10500.0,147.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
41,168,Lisa Ozer,LOZER,011.44.1343.929268,1999-07-11,11500.0,148.0,0.25,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
42,169,Harrison Bloom,HBLOOM,011.44.1343.829268,2000-07-23,10000.0,148.0,0.20,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45
46,174,Ellen Abel,EABEL,011.44.1644.429267,1998-05-11,11000.0,149.0,0.30,None,80.0,SA_REP,2014-01-08 13:44:45,2014-01-08 13:44:45