In [33]:
import pandas as pd
df = pd.read_excel('20230103_인구.xlsx',skiprows=3,index_col = '행정기관',usecols='B,E:Y')
df

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,052,227","2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"338,380","343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276
부산광역시,"41,333","63,912","68,919","67,836","93,245","109,745","103,536","99,530","127,544","121,660",...,"126,702","143,246","119,500","83,807","55,948","36,851","13,453","3,103",420,72
대구광역시,"31,269","49,000","55,029","57,661","74,228","81,001","76,198","71,455","87,860","91,327",...,"96,673","96,632","71,324","49,675","31,508","23,021","9,435","2,197",299,25
인천광역시,"43,664","63,028","70,593","69,580","86,548","108,831","107,658","102,829","126,090","121,064",...,"121,717","124,470","84,563","52,236","35,223","22,843","9,444","2,410",482,82
광주광역시,"21,506","32,852","38,227","39,769","49,779","53,357","45,743","45,152","57,116","58,456",...,"54,650","50,054","34,957","25,074","17,659","12,507","4,907","1,221",180,18
대전광역시,"21,241","31,032","35,302","37,083","48,557","57,944","51,617","47,195","55,541","57,113",...,"54,364","55,215","40,788","26,427","17,354","12,297","5,151","1,344",205,28
울산광역시,"16,646","26,693","29,418","28,366","33,283","39,507","37,536","37,213","47,828","45,102",...,"51,149","49,294","33,444","20,751","11,651","7,068","2,406",566,72,4
세종특별자치시,"9,524","13,733","14,079","10,808","9,307","10,329","13,538","16,303","20,299","18,098",...,"11,134","10,497","7,464","4,657","2,763","2,000",913,230,40,6
경기도,"216,863","313,113","345,546","335,021","411,620","501,356","491,074","485,448","590,936","571,769",...,"537,189","521,204","356,812","219,043","153,879","106,802","45,597","11,973","2,020",379
강원도,"20,663","28,244","33,186","35,219","46,654","48,339","43,021","41,832","52,647","57,135",...,"65,868","74,871","59,684","35,256","28,108","20,902","8,649","2,159",472,67
충청북도,"22,631","32,948","37,693","37,809","47,397","57,064","51,561","49,894","60,047","61,976",...,"67,045","72,702","54,810","34,167","23,398","17,998","8,095","1,908",328,50
충청남도,"31,138","46,381","53,256","51,596","60,532","67,469","66,486","70,151","87,472","86,432",...,"85,589","91,701","67,960","48,258","33,015","25,781","13,262","3,553",568,58
전라북도,"21,236","34,769","42,410","44,115","54,218","53,042","44,965","46,154","61,000","68,586",...,"74,309","77,740","60,703","44,697","31,975","24,526","11,227","2,972",464,62
전라남도,"23,539","34,785","41,325","41,816","51,858","51,905","43,572","46,628","62,839","68,646",...,"83,843","86,322","64,278","50,227","35,492","28,495","11,601","3,186",485,60
경상북도,"33,538","50,669","57,538","58,036","72,082","75,729","70,663","73,213","93,825","97,876",...,"115,155","125,814","98,898","70,342","44,053","34,935","15,550","3,924",597,56
경상남도,"44,066","73,112","84,029","81,884","93,886","96,408","91,363","98,508","132,630","133,558",...,"139,975","148,200","109,447","73,308","45,837","31,710","13,579","3,300",475,53
제주특별자치도,"10,989","16,953","18,838","17,925","19,947","21,166","19,331","20,608","27,661","28,797",...,"28,485","25,858","18,587","12,291","9,298","6,331","2,946",723,70,11

In [29]:
df.head(5).to_excel('20230103_인구2.xlsx')

In [80]:
w_df = pd.read_excel('20230103_인구2.xlsx')
w_df

,행정기관코드,행정기관,남 인구수,연령구간인구수,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세.5,60~64세.5,65~69세.5,70~74세.5,75~79세.5,80~84세.5,85~89세.5,90~94세.5,95~99세.5,100세 이상.5
0,0,전국,"25,631,538","25,631,538","726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908",...,"2,026,849","2,140,345","1,666,718","1,181,147","912,158","807,453","467,750","180,147","41,089","6,932"
1,1100000000,서울특별시,"4,567,739","4,567,739","116,614","161,429","185,689","197,425","271,237","390,716",...,"352,974","375,294","313,357","221,934","171,361","128,653","67,583","25,644","6,332","1,090"
2,2600000000,부산광역시,"1,618,749","1,618,749","41,333","63,912","68,919","67,836","93,245","109,745",...,"135,441","160,028","135,481","100,089","70,879","57,034","29,141","10,493","2,484",346
3,2700000000,대구광역시,"1,162,217","1,162,217","31,269","49,000","55,029","57,661","74,228","81,001",...,"101,858","104,716","80,286","61,351","43,160","37,711","20,509","7,252","1,465",223
4,2800000000,인천광역시,"1,486,300","1,486,300","43,664","63,028","70,593","69,580","86,548","108,831",...,"123,617","125,635","90,590","57,505","44,499","37,115","21,625","9,009","2,153",376

In [81]:
w_df = pd.read_excel('20230103_인구.xlsx',skiprows=3,index_col='행정기관',usecols='B, AB:AV')
w_df.head()
w_df.columns = df.columns
w_df.columns

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~4세.1', '5~9세.1', '10~14세.1', '15~19세.1', '20~24세.1', '25~29세.1',
       '30~34세.1', '35~39세.1', '40~44세.1', '45~49세.1', '50~54세.1', '55~59세.1',
       '60~64세.1', '65~69세.1', '70~74세.1', '75~79세.1', '80~84세.1', '85~89세.1',
       '90~94세.1', '95~99세.1', '100세 이상.1'],
      dtype='object')

In [78]:
df[0:3]     
df.iloc[0]      #0번째 rows 데이터 가져오기
df.head(3)      
df[df.columns[-1]]

df.iloc[0].str  # str타입으로 변경 
df.iloc[0].str.replace(",","")  # 쉼표 빼기
df.iloc[0].str.replace(",","").astype(int)  # int로 변경
# df.iloc[0].str.replace(",","").astype(int)

AttributeError: Can only use .str accessor with string values!

In [82]:
df.iloc[0]
df.describe

<bound method NDFrame.describe of             0~4세.1   5~9세.1 10~14세.1 15~19세.1 20~24세.1 25~29세.1 30~34세.1  \
행정기관
전국          691045  1020598  1144645  1134811  1402493  1642682  1579871
서울특별시      109,390  154,162  176,096  189,009  304,285  418,972  379,071
부산광역시       39,356   60,582   65,329   64,001   88,307  102,363   96,466
대구광역시       29,517   47,039   51,645   53,188   65,933   71,873   65,115
인천광역시       41,505   59,985   66,881   65,904   80,089   99,535   98,125
광주광역시       20,633   31,124   35,819   36,800   46,059   48,645   42,140
대전광역시       20,120   29,266   33,099   34,644   45,960   50,861   45,012
울산광역시       16,024   25,063   27,185   25,355   25,988   29,820   30,751
세종특별자치시      9,323   13,207   13,629   10,886    8,405   10,259   14,210
경기도        206,896  298,872  329,545  318,130  378,103  440,729  443,662
강원도         19,847   26,739   31,256   32,170   37,089   37,292   36,592
충청북도        21,356   31,729   35,481   34,716   39,551   43,630   40,920
충청남도        29,682   44,217   49,792   47,846   50,336   52,046   54,486
전라북도        20,645   32,851   39,894   41,000   45,775   44,482   40,361
전라남도        22,768   33,051   39,355   38,799   41,020   40,624   38,210
경상북도        31,734   47,824   52,990   51,883   55,452   56,335   57,501
경상남도        41,938   68,814   78,894   74,159   72,991   76,068   78,678
제주특별자치도     10,311   16,073   17,755   16,321   17,150   19,148   18,571

          35~39세.1 40~44세.1 45~49세.1  ... 55~59세.1 60~64세.1 65~69세.1 70~74세.1  \
행정기관                                  ...
전국         1598401  1980502  1990483  ...  2017243  2132394  1649709  1174486
서울특별시      333,112  368,850  362,938  ...  352,068  375,498  310,677  221,007
부산광역시       95,847  123,903  120,997  ...  135,400  160,060  134,634   99,254
대구광역시       66,014   89,451   94,571  ...  101,480  104,047   80,241   60,862
인천광역시       96,427  118,715  116,262  ...  122,949  124,904   89,016   57,046
광주광역시       43,648   57,521   59,360  ...   55,606   53,940   39,184   30,391
대전광역시       43,919   55,290   58,327  ...   54,867   58,106   43,947   29,874
울산광역시       33,626   44,405   44,049  ...   48,675   47,450   33,951   21,223
세종특별자치시     16,881   21,108   17,327  ...   10,508   10,407    7,664    4,924
경기도        458,599  565,676  556,356  ...  524,013  513,123  370,036  244,862
강원도         38,510   51,051   54,546  ...   62,565   75,091   59,322   39,610
충청북도        44,538   55,571   58,255  ...   63,029   70,138   54,931   36,645
충청남도        61,410   76,490   76,656  ...   76,887   87,089   68,473   52,132
전라북도        44,289   58,259   65,177  ...   69,326   77,493   62,308   50,424
전라남도        43,275   55,885   59,776  ...   72,116   80,839   63,612   54,625
경상북도        65,642   85,999   91,398  ...  107,649  122,345   99,939   77,159
경상남도        92,008  124,822  127,716  ...  133,938  146,360  112,356   80,767
제주특별자치도     20,656   27,506   26,772  ...   26,167   25,504   19,418   13,681

          75~79세.1 80~84세.1 85~89세.1 90~94세.1 95~99세.1 100세 이상.1
행정기관
전국          908877   802501   459932   177039    39806      6604
서울특별시      169,985  127,276   66,321   25,368    6,162     1,043
부산광역시       70,537   56,380   28,523   10,347    2,375       337
대구광역시       42,860   37,331   20,068    7,062    1,418       216
인천광역시       44,221   36,855   21,193    8,813    2,089       360
광주광역시       23,115   19,165   10,293    4,065      898       159
대전광역시       21,804   18,832   10,677    4,084      937       150
울산광역시       13,736   11,055    6,129    2,297      537        58
세종특별자치시      3,401    3,127    2,109      926      201        28
경기도        193,766  161,299   92,796   36,055    8,483     1,389
강원도         35,366   33,556   18,796    7,499    1,896       279
충청북도        29,888   29,650   18,365    6,661    1,380       226
충청남도        40,742   42,846   28,113   10,930    2,254       403
전라북도        41,402   42,315   25,907   10,046    2,181       418
전라남도        48,003   52,532   30,832   12,043    2,540       488
경상북도        57,996   61,672   37,708   14,113    2,999       484
경상남도        60,387   58,415   35,182   13,684    2,717       343
제주특별자치도     11,668   10,195    6,920    3,046      739       223

[18 rows x 21 columns]>